7		guest/instructor/individual trainee/corporate trainee	view all the titles of the courses available including the total hours of the course and course rating
        (select title, total hours, course rating)

        
8	5	guest/instructor/individual trainee 	view the price of each course (select price only)
9		guest/instructor/individual trainee /corporate trainee	filter the courses based on a subject and/or rating
10		guest/instructor/individual trainee 	filter the courses based on price (price can be FREE)


11		guest/instructor/individual trainee /corporate trainee	search for a course based on course title or subject or instructor
			


12	9,10,11	guest/instructor/individual trainee 	choose a course from the results and view (but not open) its details including course subtitles, excercises , total hours of each subtitle, total hours of the course and price (including % discount if applicable) according to the country selected


a course should have a title, total hours, course rating, price, subject, instructor, course subtitles, exercises, total hours of each exercises


a course should have many exercises ( a list of reference objects) 

