@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  
}
.Navbar h1 {
  color: #4e35f1;
}
.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.Navbar a:hover {
  color: #4e35f1;
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-right: 0.5rem;
}

.search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* blog previews / list */
.course-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.course-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.course-preview h2 {
  font-size: 18px;
  color: #4e35f1;
  margin-bottom: 8px;
}
.course-preview a{
  text-decoration: none;
}

.course-preview p{
  font-style: italic;
}


/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #4e35f1;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #4e35f1;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Blog Details */


